@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
:focus-visible {
  outline-color: hsla(349, 69%, 51%, 1);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(250, 6%, 20%, 1);
  border-radius: 8px;
}
